table#listing
{
    float: right;
}
.col-1{
    width:4% !important;
    padding: 5px;
}
td.col-2{
    width:30% !important;
    text-align:right;
    padding: 5px;
    padding-right:10px;
}
td.col-3{
    width:2% !important;
    text-align:right;
    padding: 5px;
    padding-right:10px;
    text-align: center;
    vertical-align: middle;
}
table#listing tr.tr-head
{
    color: black !important;
}
table#listing tr.tr-head td
{
    padding-right: 12px !important;
}
.tr-even,.tr-odd
{
    height: 38px;
    font-size: 13px !important;
}
.cross_button{
    margin: 0px 0 0 20px;
}
.place_editor
{
    width: 550px;
    float: right;
}

table#listing .tr-odd .inplaceeditor-form .editor_field {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:6px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:0 0 0 0;
    padding:3px 5px 3px 5px;
    width:380px;
}

table#listing .tr-odd .inplaceeditor-form .editor_field:focus{
    background: #fff;
    border: 1px solid #9e0f15;

}
table#listing .tr-odd .inplaceeditor-form .editor_ok_button {
    margin-right: 10px;
    margin-left: 10px;
    padding: 4px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:6px;
    font-weight: bold;
    font-size: 13px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
table#listing .tr-even .inplaceeditor-form .editor_ok_button {
    margin-right: 10px;
    margin-left: 10px;
    padding: 4px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:6px;
    font-weight: bold;
    font-size: 13px;
    border:none;
    font-family: arial;
    cursor:pointer;
}

table#listing .tr-even .inplaceeditor-form .editor_field {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:6px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:0 0 0 0;
    padding:3px 5px 3px 5px;
    width:380px;
}
table#listing .tr-even .inplaceeditor-form .editor_field:focus{
    background: #fff;
    border: 1px solid #9e0f15;

}
.in_place_editor_field{
    width:380px !important;
    cursor: pointer;
    float: right;
    -webkit-border-radius:6px;
    height:19px;
    margin:0 0 0 0;
    padding:4px 6px 4px 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.warning_msg
{
    float: left;
    margin: 6px 10px 0 10px;
}
div#page-yield .warning_msg:hover
{
    text-decoration: none;
}
.warning_sym
{
    float: left;
    width: 15px;
    height: 12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-top: 8px;
}
#search_textbox
{
    float: right;
    margin-bottom: 15px;
}
#search-form
{
    float: right;
}
.text-input-bg-complaint
{
    float: right;
}
#search_textbox label {
    color:#444444;
    display:block;
    float:right;
    width:85px;
    margin:0 0 10px;
    padding-top: 2px;
    font-weight: 600;
    font-size: 15px;
}
#search_textbox input{
    background : #eee;
    float:right;
    border : 1px solid #c6c6c6;
    margin : -5px 10px 0 0;
    width : 180px;
    height:22px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 4px 5px 0 0;
}

#search_textbox input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}
#loader
{
    float: right;
    margin-right: 10px;
}