body {
    font-family:arial;
    color:#666666;
}
.wait-div{
    font-size: 15px;
    font-weight: bold;
    margin-top: -5px;
    width: 115px;
    margin-left:115px;
}
.wait-text{
    float:left;
}
.warn-div{
    font-size: 13px;
    font-weight: normal;
    margin-left: 5px;
    margin-top: 50px;
    text-align:center;
}
.waiting-div{
    margin: 0 auto;
    width:330px;
}