<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="category-edit"> <%= link_to_remote "#{t('choose_elective')}",{:url=>{:controller=>"student",:action=>"choose_elective",:id=>@student.id,:id2=>@elective_subject.id}},:class => "themed_text", :before=>"this.style.display='none'" %>
</div>