.row{
    text-align: right;
}
.sl_no{
    width:80px;
    min-width:80px;
    max-width:80px;
}
.name{
    width:250px;
    min-width:250px;
    max-width:250px;
    overflow: hidden;
}
.batch{
    width:250px;
    min-width:250px;
    max-width:250px;
    overflow: hidden;
}
.admn_no{
    width:150px;
    min-width:150px;
    max-width:150px;
    overflow: hidden;
}
.dob{
    width:120px;
    min-width:120px;
    max-width:120px;
    overflow:hidden;
}
#page-yield {
    width:100%;
    margin: 0 auto;
    float: right;
}
.hor_line{
    width:100%;
    background: #333333;
    height: 1px;
}
h2.heading{
    text-align: center;
    margin:5px;
}
#main_info h4{
    text-align:center;
    color: #555555;
    margin-top: 18px;
    font-weight: normal;
}
#main_info h2{
    text-align:center;
    margin-bottom: 2px;
    font-weight: normal;
}
.odd{
    height:auto;
    background: #EEEEEE;
}
.even{

    height:auto;
    background: #fff;
}
td{
    padding: 12px 15px 12px 12px;
}
.table-header td{
    color: #97080e;
    background: #EEEEEE;
}

table#pdf-table{
    border-collapse:collapse;
    font-size: 13px;
}
#page-extender1{
    width:100%;
    height :500px;
}
.report{
    margin: 0 auto;
}
#signature{
    text-align: left;
    width: 700px;
    margin: 0 auto;
    color: #999999;
}
#page-yield h2{
    text-align: center;
}
table{
    table-layout: fixed;
}
body{
    width: 100% !important;
    margin: 0;
}
