.submit-button {
    margin-top:20px;
    margin-left:0px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
    margin: 0px !important
}

.submit-button a{
color: white !important;
text-decoration: none !important;
}


#page-yield .submit-button a:hover {
color: white !important;
}

.user_button{
    margin: 0 10px 0 0;
}
li{
font-size: 15px;
padding-bottom: 6px;
}

.warning {
width: 980px;
z-index: 1;
/* margin-left: 250px; */
font-weight: bold;
font-size: 14px;
}

.errorExplanation {
background: white url(/images/_global/error.png) no-repeat 99% 13px !important;
margin: 0px !important;
}

.errorExplanation p{
    font-size: 14px !important;
}

ul.dependency_list{
    margin-top: 0px !important;
}

#note{
    font-size: 14px;
}