.links{
    float:right;
    width: 85px;
    font-size: 12px;
}

#edit{
    float:left;
    padding-right: 15px;
}

table#listing{
    padding: 20px 20px 20px !important;
}

.pagination {
    margin-top: 25px;
    margin-right: 0px;
}

table#listing tr.tr-head{
    color: black !important;
}

table#listing td.col-1 {
  width: 6% !important;
}

table#listing td.col-2 a:hover{
    text-decoration: none !important;
}