#page-yield select option{
    padding: 0px 10px;
}
.form_name label {
    font-size: 15px;
    font-weight: bold;
}
.field_block {
    width: 640px;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}
/** input field **/
.label_text_field {
    width: auto;
    margin-bottom: 5px;
    min-height: 20px;
}
.label_text_field label {
    color: #5a5a5a;
    font-size: 15px;
}
.label_text_field .description_label {
    color: #5a5a5a;
    font-size: 13px;
    margin-top: 5px;
}
.input_text_field {
    width: 230px;
    min-height: 30px;
}

.input_text_field input, .input_text_field select {
    width: 100%;
    height: 28px;
    border: 1px solid #e2e2e2;
    padding-left: 10px;
    padding-right: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
}
.input_text_field input[type='checkbox'],.input_text_field input[type='radio']{
    height: 15px !important;
    width: 15px !important;
    float: left;
    top: 5px;
    position: relative;
}
.input_text_field label{
    color: #5a5a5a;
    font-size: 15px;
    float: left;
    margin-left: 10px;
    line-height: 30px;
    width: 190px;
}
.input_text_field textarea{
    width: 500px;
    height: 72px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background: #EEEEEE;
    padding: 10px;
    resize: none;
}
.input_text_field select{
    width: 242px;
}
.button {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-radius: 10px;
    background: #27292B none repeat scroll 0 0;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 12px;
    text-align: center;
    width: auto;
}
.mandatory:after {
    color: #FF0000;
    font-size: 15px;
    content: "*";
}
.fieldWithErrors{
    color: #9c0000 !important;
}
/** form target **/
.form_target {
    margin: 40px 0px 10px;
    clear: both;
    height: auto;
}
.form_target label {
    color: #5a5a5a;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
    display: block;
    width: 100px;
}
.form_target select {
    width: 200px;
    height: 28px;
    border: 1px solid #e2e2e2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: none repeat scroll 0 0 #EEEEEE;
}
/** form target **/