
.label-field-pair label {
    width:108px;
}

#grading-levels {
    margin-top:10px;
}

.submit_button  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #27292B;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    float:right;
    font-size:14px;
    font-weight:bold;
    padding:7px;
    margin-right: 120px;
}
.submit_button:hover{
    background:  #373B3F;
}

.add_grade a {
    font-size: 14px;
    text-decoration: none;
    float: right;
}
.add_grade p{
    float: right;
    margin: 0 0 0 20px;
    font-size: 14px;
}
.add_grade a:hover{
    text-decoration: none;
}

.add_grade{
    float: right;
    margin-bottom: 20px;
    margin-top: 10px;
}
   #error-box {
    background: #ffdedf url(/images/_global/error.png) no-repeat 99% 13px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    height : auto;
    margin : 20px auto;
    padding : 1px 20px 1px 0;
}
table#listing td.col-2 {
    width:20%
}
