<div class="show_rooms">
 
  <div class="list_rooms">
    <div id="building_select">
      <div class="select-input-bg"><%= select :building, :id, @buildings.map {|b| [b.name,b.id]},{:selected => @buildings.first.id},{:onchange => "update_room(value);"}  %>
      </div>
      <div id="building_text"><%= t('drag_drop_room')  %> </div>
    </div>
    <div id="room_select">
      <%= render :partial => 'display_rooms' %>
    </div>
  </div>

</div>

<script type="text/javascript">
  function update_room(building){
    j('#room_select').load('/classroom_allocations/display_rooms', {building_id: building});
  }
</script>