ul {
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
}
table#report_table{
    background: #dcdcdc;
}
table#report_table tr.tr-head{
    color:#fff!important;
    text-align:left;
    font-size: 14px;
}
table#report_table .tr-head th{
    padding:10px;
    font-weight: normal !important;
    padding-left:10px;
    white-space: nowrap;
}
table#report_table .tr-odd{
    background: #efefef;
    text-align:left;
    padding:50px;
    font-size:13px;
    color: #333333;
}
table#report_table .tr-even{
    background: #f8f8f8;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-size:13px;
}
table#report_table .tr-read-odd{
    background: #fff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#report_table .tr-read-even{
    background: #f1f6ff;
    text-align:left;
    padding:50px;
    color:#27292b;
    font-weight:normal;
    font-size:14px;
}
table#report_table td.col-1{
    width:10%;
    padding: 5px;
    padding-left:10px;
}
table#report_table td.col-2{
    width:20%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}
table#report_table td{
    padding: 5px 10px;
}
table#report_table td a{
    text-decoration:none;
    color:#27292b;
}
table#report_table td a:hover{
    color:#990a10;
    text-decoration:underline;
}
table#report_table td.col-3{
    width:10%;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}
table#report_table td.col-4{
    width:13%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}
table#report_table td.col-5{
    width:7%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}
table#report_table td.col-6{
    width:8%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}

table#report_table td.col-7{
    width:20%;
    text-align:left;
    padding: 5px;
    padding-left:10px;
    word-break: break-word;
}
table#report_table .width-target{
    max-width: 200px;
    width: 100px;
}
.pagination_list{
    width:100%;
    height:25px;
    border:1px solid #CCCCCC;
    margin-top:30px;
    background:#efefef
}
.pagination {
    float: right;
    position: relative;
    margin-top: 2px;
    margin-right: 15px;
    padding-bottom: 20px;
}
.pagination a.prev_page,.pagination a.next_page{
    color:#27292b;
    font-weight:bold;
    text-transform: none;
    background: none;
    text-decoration:none;
    border:none;
    font-size: 14px;
}
.pagination .disabled {
    color: #27292b;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    background: none;
    text-decoration: none;
    border: none;
}
.pagination_text{
    float:left;
    margin-left: 600px;
    font-size: 14px;
    color:#333333;
    margin-top: 5px;
}
#page-yield {
    /*    margin-right: 10px;*/
    margin-top: 2px;
}
#page-yield #reports .submit-button a:hover{
    color: #fff !important;
}
.submit-button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: #27292B;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    /*    margin: 0 0 0 210px;*/
    margin: 0 0 0 10px;
    padding: 7px;
    float: left;
    cursor: pointer;
    float: right;
    margin-bottom: 22px;
    /*    margin-right: 12px;*/
    padding-left: 13px;
    padding-right: 10px;
}
.submit-button a {
    text-decoration: none;
    color:#fff;
    font-size: 14px;
}
.submit-button a:hover{
    color:#fff !important;
}
table#report_table tr.tr-head a{
    color:#fff !important;
}
table#report_table tr.tr-head a:hover{
    color:#fff !important;
    text-decoration: none;
}
.batch_order:hover{
    background: rgba(0, 0, 0, .2)
}
.batch_order_select{
    background: rgba(0, 0, 0, .2)
}
#information{
    margin-top:30px;
}
.bread_crumb{
    margin-top: 15px;
}
.reports_container{
    width: 100%;
    /*    min-height: 500px;*/
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;
}
.reports_table{
    /*    height: 500px;*/
    overflow-x: auto;
}
table#report_table td {
    padding-left: 10px;
    padding-right: 10px;
}
table#report_table .tr-head th:nth-child(1) {
    min-width: 30px;
    width: auto;
}
.filters {
    min-height: 40px;
    height: auto;
    clear: both;
    margin-bottom: 40px;
}
.filter_clear {
    float: left;
    line-height: 20px;
    margin-left: 10px;
    color: #444;
    display: block;
    font-size: 14px;
    width: 150px;
    padding-top: 10px;
    font-weight: normal;
}
.filter_clear span{
    cursor: pointer !important;
}
.filters label {
    float: left;
    line-height: 20px;
    color: #444;
    display: block;
    font-size: 14px;
    width: 150px;
    padding-top: 10px;
    font-weight: normal;
}
.filters select#fields_list {
    float: left;
    line-height: 20px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #eee;
    border: 1px solid #c6c6c6;
    width: 320px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.clear_filter {
    background: url('/images/form_templates/delete.png') no-repeat center;
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: relative;
    left: 10px;
}
.apply_filter{
    padding: 2px;
    font-size: 12px;
    margin-top: 6px;
    position: relative;
    float: left;
    margin-bottom: 10px;
}
#filter_submit{
    background: transparent;
    border: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.reports_table{
    overflow-x: auto;
    display: none;
    padding-bottom: 20px;
}
.filter_list select{
    float: left;
    line-height: 20px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #eee;
    border: 1px solid #c6c6c6;
    width: 100px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.filter_list td{
    line-height: 20px;
    color: #444;
    font-size: 14px;
    padding-top: 10px;
    font-weight: normal;
}
.filter_list td.field_label{
    width: 300px;
}
.filter_list td.criteria{
    padding-bottom: 10px;
}
.filter_list td.criteria_text{
    padding-top: 0px;
}
.filter_list td input {
    background: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 0 0 10px;
    width: 200px;
    height: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 5px;
}
#loader{
    top: -2px;
    position: relative;
    left: 2px;
}
/** custom graph**/
.graph{
    clear: both;
    display: block;
    width: 100%;
    height: auto;
    max-height: 280px;
    overflow-y: auto;
    margin-bottom: 20px;
}
.vertical_stripes {
    width: 450px;
    min-height: 90px;
    height: auto;
    float: left;
    background-color: #e9e9e9;
    background-size: 45px;
    background-image: -webkit-linear-gradient(left, #fff 1px, rgba(233, 233, 233, 0.5) 0%);
    /*    background-image: -moz-linear-gradient(0px 50%, transparent 50%, rgba(255, 255, 255, 0.5) 50%);*/
    background-image: -moz-linear-gradient(1px 50% , #FFFFFF 1px, #E9E9E9 1px);
    background-image: -ms-linear-gradient(left, #fff 1px, rgba(233, 233, 233, 0.5) 0%);
    background-image: -o-linear-gradient(left, #fff 1px, rgba(233, 233, 233, 0.5) 0%);
}
/*.vertical_stripes {
    background-color: #e9e9e9;
    background-size: 30px;
    background-image: -webkit-linear-gradient(left, transparent 90%, rgba(255, 255, 255, .5) 0%);
    background-image: -moz-linear-gradient(0px 50%, transparent 90%, rgba(255, 255, 255, 0.25) 50%);
    background-image: -ms-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .25) 50%);
    background-image: -o-linear-gradient(0, transparent 90%, rgba(255, 255, 255, .25) 50%);
}*/
.vertical_stripes ul {
    padding: 0px;
    margin: 0px;
    min-height: 90px;
    height: auto;
}
.vertical_stripes ul li {
    background-color: #ffcc9a;
    height: 30px;
    margin: 30px 0px 30px 1px;
    text-align: center;
    line-height: 30px;
}
.graph_index {
    width: 300px;
    float: left;
    height: 100px;
}
.graph_index ul {
    padding: 0px 20px 0px 0px;
    margin-right: 20px;
}
.graph_index ul li {
    text-align: right;
    margin: 30px 0px 30px;
    color: #444;
    height: 30px;
    line-height: 30px;
    list-style: none !important;
}
.graph_index ul li span {
    color: #aaa;
}
.graph_index ul li span:before {
/*    content: "(";*/
}
.graph_index ul li span:after {
/*    content: ")";*/
}
/** custom graph**/
/** over rides for jqueri ui dialog **/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    padding: 0px !important;
    line-height: 18px !important;
    background: transparent !important;
    height: 20px;
    border: 0px !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default:focus{
    outline-width: 0px !important;
}
.ui-dialog .ui-dialog-content{
    padding: 0px !important;
}
div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front{
    font-size: 14px !important;
    font-family: arial !important;
    font-weight: normal !important;
    border-radius: 0px;
}
div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front li{
    list-style: disc;
    line-height: 30px;
}
div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front:focus{
    outline-width: 0px !important;
}
.ui-dialog .ui-dialog-titlebar{
    background: transparent !important;
    border: 0px !important;
    padding-top: 15px !important;
    height: 0px !important;
}
.ui-dialog .ui-dialog-titlebar-close{
    margin-top: -5px !important;
}
/**/
.response_text:before{
    content: '•';
}
.ui-dialog .graph li{
    list-style: none !important;
}
.data{
    width: 450px !important;
    text-align: center;
}
/** over rides for jqueri ui dialog **/
.add_dialog {
    cursor: pointer;
}
.not_applicable{
    color: #999;
}
.resp_value {
    padding-left: 10px;
}
.message_notifier{
    margin-top: 10px;
    margin-bottom: 10px;
}
.width-submited{
    min-width: 100px;
    max-width: 100px;
}
.width-text{
    min-width: 200px;
    max-width: 200px;
}
.width-radio,.width-radio,.width-select{
    min-width: 150px;
    max-width: 150px;
}
.width-textarea{
    min-width: 250px;
    max-width: 250px;
}
.width-sno{
    width: 20px;
}
.width-action{
    min-width: 100px;
    max-width: 100px;
}
.ui-dialog .ui-dialog-content{
    margin-left: 30px;
}
.response_list {
    max-height: 210px;
    min-height: 210px;
    overflow: auto;
    margin-bottom: 10px;
    clear: both;
}
.pagination a{
    cursor: pointer;
}
.pagination .disabled{
    cursor: default !important;
}