a{
    text-decoration: none;
}
#page-yield #submit_or_cancel a:hover {
    color: #fff !important;
}
#page-yield select option{
    padding: 0px 10px;
}
.large {
    width: 100% !important;
}
.label-field-pair {
    height: 40px;
    width: 600px;
    padding-top: 3px;
    clear: both;
}
.label-field-pair label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: right;
    width: 200px;
    padding-top: 10px;
    font-weight: normal;
}
.text-input-bg {
    background: transparent;
    height: 28px;
    width: 250px;
    float: right;
}
.text-input-bg input[type=checkbox], .text-input-bg input[type=radio] {
    float: right;
    width: 40px;
    margin-right: 0px;
    top: 5px;
    position: relative;
}
.text-input-bg label {
    float: right;
    line-height: 18px;
}
.text_input_radio,.text_input_checkbox {
    float: right;
    width: 500px;
    height: 40px;
    padding-top: 3px;
}
.text_input_radio .radio_box_float,.text_input_checkbox .check_box_float {
    float: right;
    width: 140px;
    height: 30px;
}
.text_input_radio .radio_box_float input[type=radio],.text_input_checkbox .check_box_float input[type=checkbox] {
    float: right;
    width: 40px;
    margin-right: 0px;
}
.text_input_radio .radio_box_float label,.text_input_checkbox .check_box_float label {
    float: right;
    width: auto;
    height: 30px;
    line-height: 25px;
    padding-top: 0px;
}
#student_selection,#employee_selection{
    width: 980px;
    height: 160px;
    display: none;
}
#student_selection .batch_box,#employee_selection .dept_box{
    width: 560px;
    height: 160px;
    float: right;
}
#student_selection .employee_box,#employee_selection .student_box{
    width: 360px;
    height: 160px;
    float: right;
}

.scrolable{
    float:right;
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    margin:5px 10px 15px 0;
    padding:7px;
    width:200px;
    overflow:auto;
    max-height:100px;
}
.scroll-inside{
    max-height:100px;
    overflow:auto;
}
.scroll-inside a.all {
    color:#444444;
    font-weight:bold;
    font-size:14px;
    text-decoration:none;
}
.scroll-inside a.individual{
    font-size:14px;
    text-decoration:none;
    color:#444444;
}
.scroll-inside .hover span{
    display: none;
}
.scroll-inside .hover:hover a{
    text-decoration:underline;
    color:#9f0c14;
}

.scroll-inside .hover:hover span{
    display:block;
    float:left;
    color:#444444;
    font-size:13px;
    padding-top:2px;
}
.scroll-inside .individual_disabled {
    color: #444444;
    font-size: 14px;
    line-height: 18px;
    cursor: not-allowed;
}
.hover{
    border-bottom:1px solid #dddddd;
}
.submit_button:hover {
    background: #373B3F;
}
.button {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-radius: 10px;
    background: #27292B none repeat scroll 0 0;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 12px;
    text-align: center;
    width: auto;
}
#submit_or_cancel{
    clear: both;
    margin-top: 20px;
    margin-right: 190px;
}
#submit_or_cancel input, #submit_or_cancel a {
    float: right;
    margin: 0px 20px;
}
.label-field-pair-form,.label-field-pair-form-small{
    min-height: 40px;
    padding-top: 3px;
}
.label-field-pair-form{
    width: 450px;
    float: right;
    height: auto;
}
.label-field-pair-form-small{
    width: 355px;
}
.label-field-pair-form-small label, .label-field-pair-form label {
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: right;
    width: 200px;
    padding-top: 10px;
    font-weight: normal;
}
.label-field-to {
    clear: both;
}

#form_reciepients{
    display: none;
    clear: both;
}
.initial_hide{
    display: none;
}
.half {
    width: 50%;
    height: auto;
    float: right;
    padding-bottom: 15px;
}
#member-list, #target-list {
    margin-top: 5px;
}
.label_text{
    margin-right: 10px;
    color: #444;
    font-size: 14px;
    font-weight: normal;
}
.float {
    float: right;
    margin-right: 10px;
}
#loader {
    float: right;
    position: relative;
    clear: both;
    margin-right: 0px;
}

#form_target_list {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 88px;
    height: auto;
    clear: both;
}
#form_reciepients{
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 88px;
    height: auto;
    clear: both;
}
.border_top{
    border-top: 1px solid #ccc;
}

#loader {
    float: right;
    position: relative;
    clear: both;
    margin-right: 0px;
}
#form_target_list {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 88px;
    height: auto;
    clear: both;
}
#form_reciepients{
    border-top: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 88px;
    height: auto;
    clear: both;
}
.border_top{
    border-top: 1px solid #ccc;
}
#loader,#loader2{
    position: relative;
    top: 10px;
}
#loader2{
    right: -15px;
}
.heading_label {
    font-weight: bold;
    color: #333;
    line-height: 20px;
    margin-bottom: 15px;
}
.member-list .label_text,.target-list .label_text {
    line-height: 20px;
    margin-top: 15px;
}