*{
    margin: 0px;
    padding: 0px;
}
.not_allowed{
    text-decoration: line-through !important;
}
li{
    list-style: none;
}
#page-yield select option{
    padding: 0px 10px;
}
table#listing .tr-odd,table#listing .tr-even {
    font-size: 13px !important;
    font-weight: normal !important;
}
table#listing tr.tr-head{
    color: black !important;
}
table#listing td.col-3 {
    width: 39%;
    padding: 5px;
    padding-right: 10px;
    line-height: 30px;
}
table#listing td.col-2 {
    width: 50%;
    padding: 5px;
    padding-right: 10px;
}
.form_type{
    width: 40%;
    float: right;
}
.form_actions{
    /*    width: 55%;*/
    /*    margin-right: 10px;*/
    /*    float: right;*/
}
.form_actions ul{

}
.form_actions ul li{
    float: right;
    margin-right: 10px;
}
.form_actions ul li:last-child{
    /*    margin-left: 0px;*/
}
.message {
    width: 100%;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.narrow_border {
    padding: 10px !important;
}
#flash-msg{
    margin-bottom: 10px;
}
table#listing td.col-1{
    width: 6% !important;
}
table#listing td.col-2{
    width: 40% !important;
}
table#listing td.col-3{
    width: 15% !important;
}
table#listing td.col-4{
    width: 15% !important;
}

.message_notifier{
    margin-top: 10px;
    margin-bottom: 10px;
}
.filter {
    margin-bottom: 30px;
    clear: both;
    height: 30px;
}
.filter label {
    width: 100px;
    color: #555;
    font-size: 16px;
    padding: 12px 0 0 0;
    float: right;
    font-weight: bold;
}
.filter select {
    float: right;
    background-color: #eee;
    border: 1px solid #c6c6c6;
    margin: 5px 10px 0 0;
    width: 215px;
    height: 27px;
    padding: 3px 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.filter #loader {
    position: relative;
    margin-top: 9px;
    margin-right: 10px;
}
.pagination {
    margin-left: 20px !important;
}