table#listing
{
    float: right;
}
.label-field-pair label
{
    font-size: 13px;
    width: 110px;
    word-break: break-word;
    padding-top: 0px;
}
.label-field-pair
{
    float: right;
}
label.bold-text
{
    margin-right: 10px;
    font-weight: bold;
    width: auto;
}
.calendar_date_select_popup_icon
{
    float: right
}
.flash-msg
{
    float: right;
    width: 980px;
}
#page-yield a.themed_text
{
    text-decoration: none;
    font-size: 13px;
    float: right;
    margin-right: 10px
}
table#listing td.col-1
{
    width: 4%;
}
table#listing tr.tr-even, tr.tr-odd
{
    height: 35px;
    font-size: 13px !important;
}
.pagination
{
    margin-left: 350px;
}
table#listing tr.tr-head
{
    color: black !important;
}
#loader_date
{
    margin-right: 10px;
}
#date_label
{
    width: auto;
    margin: 0 10px 0 20px;
}
.label-field-pair img.calendar_date_select_popup_icon{
    margin-top: 0px !important;
}