.name{
    color: #999999;
    float: right;
    width: 160px;
    font-size: 14px;
}

.val {
    width:auto;
    font-size: 14px;
    font-family: arial;
}

.val span{
    margin-left:12px;
    color: black;
    float:right;
}
.val .value {
  float: right;
  word-wrap: break-word;
  width: 153px;
}
span.row_{
    float:right;
    width:440px;
    min-height:40px;
}

.detail_box{
    width:950px;
    margin:auto;
}
.user_button {
  clear: both;
  margin-right:336px;
}
.bread_crumb:after {
  content: "\200E‎";
}
