body
{
    font-family: Verdana, Arial !important;
}
*
{
    font-family: Verdana, Arial !important;
}
input
{
    font-family: Verdana, Arial !important;
}
textarea
{
    font-family: Verdana, Arial !important;
}
select
{
    font-family: Verdana, Arial !important;
}