.building_name{
    font-size: 13px;
    width: 900px;
    min-height: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.description{
    font-size: 13px;
    float: left;
    width: 80%;
}

table#listing{
    padding: 20px !important;
}

.links{
    float:left;
    width: 85px;
    font-size: 12px;
}
#edit{
    float:right;
    padding-left: 15px;
}

.pagination{
    margin-top: 20px;
    margin-left: 0px;
}


table#listing td.col-1 {
  width: 6% !important;
}