#search_label_on_manage_barcode
{
    width:100px !important;
}
#filter_select{
    width:350px !important;
    float:right;
}
#search_box{
    width:290px !important;
    float:right;
}

#barcode_text{
    width:230px !important;
    float:right;
}
.float_right{
    float:left;
}
.books{
    margin-top: 30px;
}
.submit_button {
    margin-top:8px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}

/*table#listing td.col-12 {
    width: 15%;
    padding: 5px;
    padding-left: 10px;
}*/
table {
    padding:5px 10px 5px 5px;
    text-align:right;
    width:973px;
}
table#listing td.col-2 {
    padding:5px 10px 5px 5px;
    text-align:right;
    width:10%;
}
table#listing td.col-5 {
    padding:5px 10px 5px 5px;
    text-align:right;
    width:30%;
}
table#listing .tr-odd, table#listing .tr-even {
    font-size:13px;
    font-weight:normal;
}
.error-icon {
    float:left;
    width:15px;
    height:12px;
    background: url("/images/iconsprite-1.png");
    background-position: -42px -344px;
    margin-top:16px;
    margin-left:10px;
}