<span>
  <%=select_tag "batch[batch_class_timing_sets_attributes][#{@weekday_id}][class_timing_set_id]", options_for_select(@class_timing_sets.collect{ |u| [u.name, u.id] },@weekday_id),:class=>'cts_select_tag'%>
</span>