.text-input-bg select
{
    margin-right: 0px;
}
#remark-captions
{
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #cccccc;
    float: right;
    width: 980px;
}
#re-subject
{
    float: left
}
.label-field-pair label
{
    width: auto;
    max-width: 120px;
    word-break: break-word;
    margin-left: 30px;
}
#remark_remark_subject
{
    width: 411px;
}
#remark-captions .text-input-bg
{
    width: auto;
}
#remark-captions .label-field-pair
{
    float: right;
    width: auto;
}
#remark-captions #re-subject
{
    float: left
}
.single-remark textarea{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#EEEEEE none repeat scroll 0 0;
    border:1px solid #C6C6C6;
    font-family:Arial;
    height:40px;
    padding:5px;
    width:600px;
    margin-top:-18px;
    margin-bottom:10px;


}
.single-remark
{
    color: #444;
    display: block;
    font-size: 14px;
    margin: 0 0 0px 0;
    float: right;
    padding-top: 10px;
    font-weight: 600;
    padding-bottom: 20px;
}
#remarks-form
{
    float: right;
    padding-top: 20px;
}
.st-admssn-no
{
    width: 125px;
    float: right;
    margin-left: 15px;
    word-break: break-all;
}
.st-name
{
    width: 200px;
    float: right;
    margin-left:15px;
    font-weight: bold;
}
#batch_submit
{
    -webkit-border-radius: 10px;
    background: #27292B none repeat scroll 0 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 10px;
    border: none;
    text-align: center;
    width: auto;
    cursor: pointer;
    float: left;
    margin-left:13px;
}