body
{
    font-family: Garamond, Times new Roman !important;
}
*
{
    font-family: Garamond, Times new Roman !important;
}
input
{
    font-family: Garamond, Times new Roman !important;
}
textarea
{
    font-family: Garamond, Times new Roman !important;
}
select
{
    font-family: Garamond, Times new Roman !important;
}