body
{
    font-family: Arial !important;
}
*
{
    font-family: Arial !important;
}
input
{
    font-family: Arial !important;
}
textarea
{
    font-family: Arial !important;
}
select
{
    font-family: Arial !important;
}