.link-box {
    float:left;
    height:80px;
    margin:10px 40px;
    width:305px;
}
.link-heading a {
    color:#990000;
    font-weight:bold;
}

.sel-list {
    margin-bottom:2px;
    width:120px;
}

.box{
    width:785px;
    margin:0px auto;
}

.link-descr {
    color:#666666;
    font-size:14px;
    margin-top:5px;
    text-align:justify;
}

