
table#listing_theme td.col-1{
    width: 10%;
}


table#listing_theme td.col-3{
    width: 10%;
    font-size: 13px;
}

table#listing_theme td a:hover {
  text-decoration: none;
}

table#listing_theme .tr-odd, table#listing_theme .tr-even{
    font-weight: 500;
    font-size: 13px;
}

h5{
    font-size: 14px;
}

table#listing_theme tr.tr-head{
    color : black !important;
    font-size: 14px;
}

table#listing_theme td.col-2{
    padding: 12px;
}

#status_text{
    color: grey;
}


.pagination {

margin-top: 20px;
margin-right: 0px;
}


table{
    float:right;
}

a{
    text-decoration: none !important;
}