body
{
    font-family: Trebuchet MS, Arial !important;
}
*
{
    font-family: Trebuchet MS, Arial !important;
}
input
{
    font-family: Trebuchet MS, Arial !important;
}
textarea
{
    font-family: Trebuchet MS, Arial !important;
}
select
{
    font-family: Trebuchet MS, Arial !important;
}