
.label-field-pair{
    margin:0 230px 0 0;
}

.advanced_options select {
    background : transparent;
    border : 0;
    margin : 5px 10px 0 0;
    width : 135px;
}


.advanced-options-select {
    background : #fff url(../../../images/form_bg/smalltextbox.jpg) no-repeat;
    height : 28px;
    width : 160px;
    float:right;
}

#submit_button{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#27292B none repeat scroll 0 0;
    color:#FFFFFF;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    border:none;
    cursor:pointer;
    margin-right:20px;
    padding:5px 5px 5px 8px;

}

.advanced_options{
    margin-right:3px;
    margin-top:5px;
    width:600px;
    margin-bottom: 25px;
}

.user_button{
    margin:20px 400px;
}

.user_button a {
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    text-decoration: none;

}
.user_button a:hover{
    background:  #373B3F;
}

col-2 {
    width: 20%;
}