<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
  <tr class="tr-<%= cycle('odd', 'even') %>">
    <td><div id="no_subject"><%= "#{t('no_subjects')}" %></div></td>
  </tr>
</table>