<div class="label-field-pair">
  <div class="text-input-bg">
    <%= stud.text_field :roll_number, :value => student.roll_number %>
    <div class="reset-button" id="button-<%=student.id%>" style="display:none;"><%= "#{t('reset')}" %></div>
  </div>
</div>