body
{
    font-family: Comic Sans MS, Arial !important;
}
*
{
    font-family: Comic Sans MS, Arial !important;
}
input
{
    font-family: Comic Sans MS, Arial !important;
}
textarea
{
    font-family: Comic Sans MS, Arial !important;
}
select
{
    font-family: Comic Sans MS, Arial !important;
}