
#form-content{
    height:10px;
    width:500px;
    margin:0px;
    padding: 0px;

}

.label-container1
{
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 150px;
}

.text-input-bg select {
    background-color : #eee;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 215px;
    height:27px;
    padding:3px 6px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

#radio-buttons{
    margin:0;
}

#submit-button input {
    border-radius: 10px 10px 10px 10px;
    background:#27292B;
    border:none;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    margin:10px 160px;
    padding:7px 10px;
    text-align:center;
    width:auto;
}

table#listing_theme {
    width: 80% !important;
}




#delete{
    margin-left: 50px;
    font-size: 12px;
}
#edit{
    float:left;
    margin-left: 5px;
    font-size: 12px;
}

.box{
    padding-top: 150px;
}

table#listing_theme td.col-3 {
    width: 12% !important;
}

.pagination {
float: right;
position: relative;
margin-top: 20px;
margin-right: 223px;
}


table#listing_theme tr.tr-head{
    color: black !important;
}