
#student-details {
    background-color:#FFF1AB;
    border:1px solid #EFDF95;
    clear:both;
    height:20px;
    margin:0 0 40px;
    padding:5px 0 0 100px;


}
#student-details h3 {
    display : inline;
    float : left;
    font-size:14px;
    margin : 0 0 20px 0;
     padding-right: 10px;
     min-width:200px;
}
#student-details h4 {
    display : inline;
    float : left;
    margin : 0 0 10px 0;
    font-size:14px;
  padding-right: 10px;
      min-width:200px;
}
.link-box {
    margin: 40px 40px 40px 0px;
    width: 300px;
    float:left;
    height:80px;
}
.link-heading a {
    font-weight:bold;
    color:#900;
    font-size: 14px !important;
}
.link-descr {
    margin-top:5px;
    color:#666;
    text-align:justify;
    font-size: 14px !important;

}


.errorExplanation {
    background: url("/images/_global/error.png") no-repeat scroll 10px 14px #FFDEDF;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin: 20px auto;
    padding: 15px 0 20px 49px;
    width: 510px;
}

li{
    list-style-type: none;
    padding-bottom: 5px;
}


ul{
   
    padding: 0px !important;

}

.title{
    width:115px;
    float:left;
    font-size: 13px !important;
}

.value{
    padding-left : 5px;
    font-size: 14px !important;
}

.seperator{
float:left;
padding-right:15px;
}