<span class="new_exams_text"><%=t('multiple_subjects')%></span><span class="new_exams"><%=@subjects_count%></span>
<span class="new_exams_text"><%=t('multiple_employees')%></span><span class="new_exams"><%=@employees_count||0%></span>
