.label-field-pair{
    width: 460px;
}
#left-side-inputs{
    width: 460px;
    float: right;
}
#batchs{
    float: left;
    height: 243px;
    width: 460px;
}
#batchs .batch_select_box{
    /*-moz-border-radius:10px;*/
    /*-webkit-border-radius:10px;*/
    /*background:#EEEEEE;*/
    /*border:1px solid #C6C6C6;*/
    /*height: 241px;*/
    width: 453px;
    padding-right: 5px;
}
.each_batch{
    font-size: 12px;
    overflow:auto;
    width:100%;
}
.sel-list {
    margin-bottom: 2px;
    width: 257px;
}
.fee_category_scroll {
    max-height: 200px;
    height: auto;
    margin: 0;
    overflow: auto;
    width: 100%;
    margin-bottom: 35px;
    margin-top: 25px;
}
.submit_button {
    margin-top:15px;
    margin-right:210px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.necessary-field {
    color: #FF0000;
    font-size: 1.1em;
}
#list-receivers {
    list-style-type: none;
    width:223px;
    margin-right: -4px;
    color : #444;
    font-size:14px;
    margin-top:6px;
    margin-bottom:0;
    text-align: center;

}

.list_btn{
    float:left;
    padding:8px;
    background-image: url(/images/discipline/delete_2.png);
    background-repeat:no-repeat;
    margin-top:13px
}
.list_c{
    margin-top: 10px;
    float:right;
    min-width: 280px;
    text-align: right;
    margin-right: 20px;

}

.list_parent{
    margin-top: 2px;
    min-width: 375px;
    height: 40px;
    border: 1px solid #D8CECE;
    background-color: #FFF;
}

.autocomplete-w1 {
    position:absolute;
    top:0px; right:0px;
    margin:6px 6px 0 0;
    _background:none;
    _margin:1px 0 0 0;
}
.autocomplete {
    border:1px solid #C6C6C6;
    background:#fff;
    cursor:default;
    color:#000;
    text-align:right;
    max-height:350px;
    overflow:auto;
    margin:-7px -7px 6px 5px;
    _height:350px;
    _margin:0;
    _overflow-x:hidden;
    width:auto !important;
}
.autocomplete .selected {
    background:#F8F1D1;
    color:#BB0000;

    /*    border-top:1px solid #990A10;
        border-bottom:1px solid #990A10;*/
}
.autocomplete div {
    padding:2px 5px;
    white-space:nowrap;
    overflow:hidden;
}
.autocomplete strong {
    font-weight:bold;
}
.search_student,.search_student input
{
    float:left;
}