.box{
    width:980px;
}
.student-name {
    width:980px;
    float:left;
    color:#000000;
    font-size:15px;
    font-weight:bold;
}
.exam-name {
    width:980px;
    float:left;
    color:#000000;
    font-size:13px;
    font-weight:normal;
    margin-top:10px;
}
.outer-qa-div {
    width:980px;
    float:left;
    margin-top:40px;
}
.qn {
    float:left;
    width:980px;
    font-size:14px;
    font-weight:bold;
    color:#000000;
}
.question-main {
    float:left;
    width:980px;
    margin-top:20px;
    margin-bottom:20px;
    font-size:13px;
}
.question-div{
    float:left;
    width:860px;
    color:#000000;
}
.question-div p{
    margin: 0 !important;
}
.marks-div {
    float:right;
    color:#666666;

}
.answer-main {
    min-height:77px;
    float:left;
    background-color:#ededed;
    padding:15px;
    width:950px;
}
.an {
    float:left;
    width:950px;
    font-size:14px;
    font-weight:bold;
    color:#000000;
}
.answer-div {
    float:left;
    width:950px;
    font-size:13px;
    color:#000000;
    min-height:28px;
}
.answer-div p{
    margin-bottom:0 !important;
}
.mark-div {
    float:left;
    margin-top:15px;
    width:950px;
    font-size:13px;
}
.mark-div label{
    float:left;
    margin-top:2px;
}
.text-input-bg {
    float:left;
    width:50px;
    margin-left:5px;
    height:auto !important;
}
.text-input-bg input{
    width:45px;
    border: 1px solid #C6C6C6;
    margin: 0 !important;
    font-size:13px;
    text-align:right;
    padding-left:2px;
    padding-right:2px;
}
.total{
    float:left;
    color:#666666;
    margin-left:10px;
}
.submit_button {
    float:left;
    background: none repeat scroll 0 0 #27292B;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-left: 460px;
    margin-top: 30px;
    padding: 7px 10px;
}
.pagination {
float: right;
position: relative;
margin-top: 10px !important;
margin-right:0px !important;
}
.name-left{
    float:left;
    width:600px;
}
.name-right{
    float:right;
    width:auto;
}