p.flash-msg{
    float:left;
    width:968px;
    margin-bottom:30px;
}
#q-no{
    float: left;
    color: black;
    font-size: 14px;
    font-weight: bold;
    width:30px;

}
#o-no{
    float: left;
    color: black;
    font-size: 13px;
    width:30px;

}

#question{
    font-size: 14px;
    color: black;
    float:left;
    width:810px;
}
#question p{
    margin:0;
}
.is-answer{
    font-size: 13px;
    color: black;
    float:left;
    width:auto;
    font-weight:bold;
    min-height:20px;
    max-width: 810px;
}
.is-answer p{
    margin:0;
}
.not-answer{
    font-size: 13px;
    color: black;
    float:left;
    max-width:810px;
    width:auto;
}
.not-answer p{
    margin:0;
}

#mark{
    font-size: 14px;
    float: left;
    color: #666666;
    width:80px;
    margin-left:10px;
}

#link{
    float:right;
    margin-right: 20px;
    color: #BB0000;
}

#link a{
    font-size: 12px;
    text-decoration: none;
    color: #BB0000;
}
#link a:hover{
    color: black;
}

.q-table{
    overflow: hidden;
    padding-top:30px;
    padding-bottom:29px;
    border-top: 1px solid #CCCCCC;
    width:980px;
}

#option-content{
    font-size: 17px;
    color: black;
    width:920px;
    float:left;
    padding-top:10px;
}
.option{
    margin-top: 20px;
    overflow: hidden;
    width: 980px;
    float:left;
}
#option-label{
    color: black;
    /*    float: left;*/
    font-size: 14px;
}


.option-edit{
    float: left;
    width:100px;
    padding-top: 10px;
}

#option-content a{
    font-size: 12px;
    text-decoration: none;
    color: #BB0000;
}
#option-content a:hover{
    color: black;
}

#page-yield h4{
    color: #999999;
}

.answer{
    overflow: hidden;
}
.horizontal-line{
    border-left-width: 0px;
    color : #27292B;
}
#question img,.question img,.option img{
    max-width: 100%;
    width: auto;
}
.questions_text{
    /*    color: #444444;*/
    font-weight: bold;
    margin-top:70px;
    font-size:16px;
}
.evaluators-div{
    float:left;
    width:980px;
    color:#000000;
    font-size:13px;
    margin-bottom:30px;
}
.evaluator-text{
    float:left;
    width:90px;
}
.evaluator-list{
    float:left;
    width:880px;
    margin-left:5px;
}
.evaluator-list label{
    float:left;
    color:#000000;
    margin-right:10px;
}
.evaluator-list a{
    text-decoration:none;
    display:block;
    float:left;
}
.evaluator-list a:hover{
    text-decoration:underline;
}
.edit_icon{
    background: url("/images/iconsprite-1.png");
    height:20px;
    width:20px;
    float:left;
    background-position:-20px -341px;
    margin-left:2px;
    margin-top:-1px;
}
.delete_icon{
    background: url("/images/iconsprite-1.png");
    height:20px;
    width:20px;
    float:right;
    background-position:3px -340px;
    margin-top:-1px;
}
.delete_option_icon{
    background: url("/images/iconsprite-1.png");
    height:20px;
    width:20px;
    float:left;
    margin-left:5px;
    background-position:3px -340px;
}
.pagination {
    float: right;
    margin-right: 0px !important;
    margin-top: 0px !important;
    position: relative;
}