.name{
    color: #999999;
    float: left;
    width: 160px;
    font-size: 14px;
}

.val {
    width:auto;
    font-size: 14px;
    font-family: arial;
}

.val span{
    margin-right:12px;
    color: black;
    float:left;
}
.val .value {
  float: left;
  word-wrap: break-word;
  width: 153px;
}
span.row_{
    float:left;
    width:440px;
    min-height: 40px;
}

.detail_box{
    width:950px;
    margin:auto;
}
.user_button {
  clear: both;
  margin-left:336px;
}
