.title{
    font-size: 13px;
    width: 900px;
    min-height: 25px;

}
.description{
    font-size: 13px;
    float: left;
    width: 80%;
}

.label-field-pair label{
    font-size: 13px;
    width: 100px;
}

#year{
  width: 400px;
      float:right;

}

.month{
    width: 400px;
    float:right;
}

ul{
    text-decoration: none;
    padding: 0px;

}

#weekly ul li, #date_specific ul li{
  display: table-cell;
  width: 200px;
  font-size: 12px;
  padding-bottom: 20px;
  border-bottom: solid 1px #eeeeee;
}

#weekly{
   margin-top: 20px;
   font-size: 13px;
}

#date_specific{
    margin-top: 100px;
    font-size: 13px;
}