<div class="label-field-pair"><label><%= t('fee_collection') %>:</label>

  <div class="text-input-bg">
    <div id="fees_collection_dates">


      <%= select :fees_submission, :dates_id, @dates.map { |e| [e.full_name, e.id] },
                 {:prompt => "#{t('select')} #{t('fee_collection')}"}
      %>
      <%= image_tag("loader.gif",
                    :align => "absmiddle",
                    :border => 0,
                    :id => "loader_collection",
                    :style => "display: none;") %>
    </div>
  </div>
</div>
<script type="text/javascript">

    j('#fees_submission_dates_id').change(function () {
        Element.show('loader_collection')
        j.ajax({
            url: "particulars_with_tabs",
            data: {collection_id: j('#fees_submission_dates_id').val(),batch_id: j('#fee_change_batch_id').val(),type: 'Batch'},
            success: function (data, status, xhr) {
                j('.particular_radio').prop('checked','checked')
                Element.hide('loader_collection')
            }

        });

    })

</script>